.container
  .row
    %h4 Welcome to the hospital management system!
    %p Add, delete, search and manage your hospital, patient, medication and doctor directory in one application!
    %p Click below to enter the directory
    = link_to "Continue", facilities_path
  / ..images/hospital.jpeg
  / ..images/patient.jpeg
  / ..images/doctor.jpeg
  / ..images/pills.jpeg
  / ..images/hospital.jpeg
  / ..images/hospital.jpeg
    
 